<div class="container border mt-3">
    <div>
        <h1>Configuración</h1>
    </div>


    <div class="list-group">
       
        <a routerLink="/pages/settings/hours-settings"class="list-group-item list-group-item-action">Configuración de horas</a>
        <!-- <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
      </div>
</div>