<div class="container" >
    <div class="row">
        <h3>Registrar Nuevo Cliente</h3>
    </div>

    <div class="my-1 row justify-content-center ">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="addMyCustomerForm" (ngSubmit)="createMyCustomer()">

                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Nombre</label>
                        <input type="email" formControlName="name" class="form-control form-control-sm"
                                [ngClass]="name.errors && (name.dirty || name.touched) ? 'is-invalid': ''">
                        <div *ngIf="name.hasError('required')" class="invalid-feedback">
                            Este campo es requerido 
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Apellido</label>
                        <input type="email" formControlName="lastname" class="form-control form-control-sm"
                                [ngClass]="lastname.errors && (lastname.dirty || lastname.touched) ? 'is-invalid': ''">
                        <div *ngIf="lastname.hasError('required')" class="invalid-feedback">
                            Este campo es requerido 
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Correo</label>
                        <input type="email" formControlName="email" class="form-control form-control-sm"
                                [ngClass]="email.errors && (email.dirty || email.touched) ? 'is-invalid': ''">
                        <div *ngIf="name.hasError('required')" class="invalid-feedback">
                            Este campo es requerido 
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" formControlName="password" class="form-control form-control-sm"
                          [ngClass]="password.errors && (password.dirty || password.touched) ? 'is-invalid': ''">
                          <div *ngIf="password.hasError('required')" class="invalid-feedback">
                              Este campo es requerido
                          </div>
                          <div *ngIf="password.hasError('minlength')" class="invalid-feedback">
                              Mínimo 6 caracteres para la contraseña
                          </div>
                      </div>

                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Telefono</label>
                        <input formControlName="phone" class="form-control form-control-sm"
                                [ngClass]="phone.errors && (phone.dirty || phone.touched) ? 'is-invalid': ''">
                        <div *ngIf="phone.hasError('required')" class="invalid-feedback">
                            Este campo es requerido 
                        </div>
                    </div>

                    <div class="mb-1">
                        <label class="form-label">Pais</label>
                        <select class="form-select form-select-sm" formControlName="country">
                            <!-- <option *ngFor="let prog of programsList" [value]="prog.id">{{prog.name}}</option> -->
                             <option value="Peru" selected>Perú</option>
                             <option value="Argentina">Argentina</option>
                             <option value="Bolivia">Bolivia</option>
                             <option value="Brasil">Brasil</option>
                             <option value="Chile">Chile</option>
                             <option value="Colombia">Colombia</option>
                             <option value="Ecuador">Ecuador</option>
                             <option value="Paraguay">Paraguay</option>
                             <option value="Uruguay">Uruguay</option>
                             <option value="Venezuela">Venezuela</option>                                    
                        </select>
                    </div>

                    <div class="mb-1" *ngIf="countryIsPeru">
                        <label class="form-label">Departamento</label>
                        <select class="form-select form-select-sm " formControlName="department">
                            <option *ngFor="let dep of departmentList" [ngValue]="dep">{{dep.nombre_ubigeo}}</option>
                
                            
                        </select>
                    </div>

                    <div class="mb-1" *ngIf="countryIsPeru">
                        <label class="form-label">Provincia</label>
                        <select class="form-select form-select-sm" formControlName="province">
                            <option *ngFor="let prov of provinceSelected" [ngValue]="prov">{{prov.nombre_ubigeo}}</option>
                
                        </select>
                    </div>

                    <div class="mb-1" *ngIf="countryIsPeru">
                        <label class="form-label">Distrito</label>
                        <select class="form-select form-select-sm" formControlName="district">
                            <option *ngFor="let dis of districtSelected" [ngValue]="dis">{{dis.nombre_ubigeo}}</option>
                
                        </select>
                    </div>

                    <div class="col-12 mb-3">
                        <label class="form-label">Genero</label>
                        <select class="form-select" formControlName="gender">
                            <!-- <option *ngFor="let prog of programsList" [value]="prog.id">{{prog.name}}</option> -->
                             <option value="Masculino">Masculino</option>
                             <option value="Femenino">Femenino</option>
                            
                        </select>
                    </div>

                    <div class="col-12 mb-3">
                        <label class="form-label">Tipo de Documento</label>
                        <select class="form-select form-select-sm" formControlName="type_document">
                            <!-- <option *ngFor="let prog of programsList" [value]="prog.id">{{prog.name}}</option> -->
                             <option value="DNI">DNI</option>
                             <option value="Carnet de Extranjeria">Carnet de Extranjeria</option>
                             <option value="Pasaporte">Pasaporte</option>
                            
                        </select>
                    </div>

                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Documento</label>
                        <input  formControlName="document" class="form-control form-control-sm"
                                [ngClass]="document.errors && (document.dirty || document.touched) ? 'is-invalid': ''">
                        <div *ngIf="document.hasError('required')" class="invalid-feedback">
                            Este campo es requerido 
                        </div>
                        <!-- <div *ngIf="name.hasError('email')" class="invalid-feedback">
                                Ingrese un email válido
                        </div> -->
                    </div>

                    <div class="mb-3">
                        <label for="fechaInicio" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" formControlName="birthdate" class="form-control" id="fechaInicio" />
                        <div *ngIf="birthdate.hasError('required')" class="invalid-feedback">
                            Este campo es requerido 
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <label class="form-label">Historial Medico</label>
                        <textarea type="text" formControlName="medical_history" class="form-control"
                                [ngClass]="medical_history.errors && (medical_history.dirty || medical_history.touched) ? 'is-invalid': ''">
                        </textarea>
                        <div *ngIf="medical_history.hasError('required')" class="invalid-feedback">
                            Este campo es requerido 
                        </div>
                    </div>

                    

            

                      <div class="row justify-content-center text-center">
                        <div class="col">
                            <button type="submit" [disabled]="addMyCustomerForm.invalid" class="btn btn-dark w-100">Guardar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
  