<div class="container border mt-3">
  <div>
      <h1>Módulo de Productos</h1>
  </div>

  <div class="row align-items-center my-3">
      
      <div class="col-auto">
        <button class="btn btn-dark" (click)="abrirModalNewProduct()">Registrar Nueva Producto</button>
      </div>
    </div>


  <div class="table-responsive row border m-1">
      <table class="table align-middle mb-0 bg-white text-center">
          <thead class="bg-light">
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>Estado</th>
              <th>Precio Venta</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of paginatedProductList">
              <td>
                <p>{{prod.name}}</p>
              </td>
              <td>
                <p class="fw-normal mb-1">{{prod.description}}</p>
              </td>
              <td>
                  <p class="fw-normal mb-1">{{prod.quantity}}</p>
              </td>
              <td>
                  <p class="fw-normal mb-1">{{prod.status}}</p>
              </td>
              <td>
                  <p class="fw-normal mb-1">S/.{{prod.price_sale}}</p>
              </td>
              <!-- <td>
                  <p class="fw-normal mb-1">{{sale.type_voucher}}</p>
              </td> -->
              <td>
                <button  type="button" class="btn btn-ligth btn-sm mx-1" matTooltip="Borrar">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button  type="button" class="btn btn-ligth btn-sm mx-1" matTooltip="Borrar" (click)="deleteProduct(prod)">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
               
              </td>
            </tr>
          </tbody>
        </table>
  </div>
  <mat-paginator  
  [length]="productList.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 15]"
  (page)="onPageChange($event)"
></mat-paginator>
</div>