<div class="container border mt-3">
    <div>
        <h1>Módulo de Ventas</h1>
    </div>

    <div class="row align-items-center my-3">
        
        <div class="col-auto">
          <button class="btn btn-dark" (click)="abrirModalNewSale()">Registrar Nueva Venta</button>
        </div>
      </div>


    <div class="table-responsive row border m-1">
        <table class="table align-middle mb-0 bg-white text-center">
            <thead class="bg-light">
              <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Categoria</th>
                <th>Producto/Servicio</th>
                <th>Total</th>
                <th>Tipo de Comprobante</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sale of paginatedSalesList">
                <td>
                  <p>{{sale.saleDate | date: 'dd/MM/yyyy'}}</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{sale.customer.name}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{sale.category}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{sale.saleName}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{sale.amount}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{sale.type_voucher}}</p>
                </td>
                <td>
                  <button (click)="viewSaleDetail(sale)"  type="button" class="btn btn-ligth btn-sm mx-1" matTooltip="Editar">
                    <i class="fa-solid fa-solid fa-eye"></i>
                  </button>
                  <!-- <button  type="button" class="btn btn-ligth btn-sm mx-1" matTooltip="Borrar">
                    <i class="fa-solid fa-trash-can"></i>
                  </button> -->
                 
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <mat-paginator  
    [length]="mySalesList.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 15]"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>