<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div class="card w-100">
                <div class="card-body">
                    <h2 class="card-title text-center">Reestrablecer Contraseña</h2>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control"
                                    [ngClass]="email.errors && (email.dirty || email.touched) ? 'is-invalid': ''">
                            <div *ngIf="email.hasError('required')" class="invalid-feedback">
                                Este campo es requerido 
                            </div>
                        </div>
                     
                
                        <div class="row justify-content-center text-center">
                            <div class="col-md-6">
                                <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-dark w-100">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="assets/sd3.jpeg" alt="Imagen de Nadar es Vida" class="img-fluid">
        </div>
    </div>
</div>
