

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Reestablece tu contraseña</h2>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                        <div class="row">
                           
                            <div class="col-12 mb-3">
                                <label class="form-label">Email</label>
                                <input formControlName="email" class="form-control"
                                        [ngClass]="email.errors && (email.dirty || email.touched) ? 'is-invalid': ''">
                                <div *ngIf="email.hasError('required')" class="invalid-feedback">
                                    Este campo es requerido 
                                </div>
                                <div *ngIf="email.hasError('email')" class="invalid-feedback">
                                    Ingrese un email válido
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <label class="form-label">Contraseña</label>
                                <div class="form-group inner-addon right-addon">
                                    <div class="input-group">
                                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control"
                                        [ngClass]="password.errors && (password.dirty || password.touched) ? 'is-invalid': ''">
                                    <div class="">
                                        <i alt="show" class="far fa-eye eye-show" 
                                        (click)="showPassword = !showPassword"
                                        [class.hide]="showPassword"></i>
                                        <i alt="hide" class="far fa-eye-slash eye-hide" 
                                        (click)="showPassword = !showPassword"
                                        [class.hide]="!showPassword"></i>
                                    </div>
                                    </div>
                                    
                                </div>
                                
                                        
                                <div *ngIf="password.hasError('required')" class="invalid-feedback">
                                    Este campo es requerido 
                                </div>
                                <div *ngIf="password.hasError('minlength')" class="invalid-feedback">
                                    Mínimo 6 caracteres 
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <label class="form-label">Confirmar Contraseña</label>
                                <div class="form-group inner-addon right-addon">
                                    <div class="input-group">
                                        <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control"
                                        [ngClass]="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched) ? 'is-invalid': ''">
                                    <div class="">
                                        <i alt="show" class="far fa-eye eye-show" 
                                        (click)="showPassword = !showPassword"
                                        [class.hide]="showPassword"></i>
                                        <i alt="hide" class="far fa-eye-slash eye-hide" 
                                        (click)="showPassword = !showPassword"
                                        [class.hide]="!showPassword"></i>
                                    </div>
                                    </div>                                    
                                </div>

                            </div>
                        </div>
                       
                        
                        <div class="row justify-content-center text-center">
                            <div class="col-md-6">
                                <button [disabled]="resetPasswordForm.invalid" type="submit" class="btn btn-dark w-100">Actualizar Contraseña</button>
                            </div>
                        </div>
                        
                    </form>

                  
                </div>
            </div>
        </div>
        
    </div>
    
</div>